---
---
<section id="saison">
  <svg class="swt" viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" style="display:block;width:100%;height:60px;"><path d="M0,30 C360,60 720,0 1080,30 C1260,45 1380,20 1440,30 L1440,0 L0,0 Z" fill="white"/></svg>
  <div class="si2">
    <div class="sc rv"><span class="stag" id="saisonMois"></span><h2 class="stit rv d1">Les produits <em>de saison</em></h2></div>
    <div class="sgrid" id="saisonGrid"></div>
  </div>
  <svg class="swb" viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" style="display:block;width:100%;height:60px;"><path d="M0,30 C360,0 720,60 1080,30 C1260,15 1380,40 1440,30 L1440,60 L0,60 Z" fill="#F9F5EE"/></svg>
</section>

<script is:inline>
(function() {
const MOIS = ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'];
const now = new Date();
const m = now.getMonth();
const annee = now.getFullYear();

// L = Légume, F = Fruit | pl = Pleine saison, fi = Fin/Début saison
const SAISON = [
  // Janvier
  [{n:'Poireaux',t:'L',s:'pl'},{n:'Carottes',t:'L',s:'pl'},{n:'Endives',t:'L',s:'pl'},{n:'Oranges',t:'F',s:'pl'},{n:'Poires',t:'F',s:'pl'},{n:'Champignons',t:'L',s:'pl'}],
  // Février
  [{n:'Endives',t:'L',s:'pl'},{n:'Poireaux',t:'L',s:'pl'},{n:'Chou-fleur',t:'L',s:'pl'},{n:'Oranges',t:'F',s:'pl'},{n:'Poires',t:'F',s:'pl'},{n:'Champignons',t:'L',s:'pl'}],
  // Mars
  [{n:'Épinards',t:'L',s:'pl'},{n:'Carottes',t:'L',s:'pl'},{n:'Radis',t:'L',s:'pl'},{n:'Oranges',t:'F',s:'fi'},{n:'Pommes',t:'F',s:'fi'},{n:'Champignons',t:'L',s:'pl'}],
  // Avril
  [{n:'Artichaut',t:'L',s:'pl'},{n:'Épinards',t:'L',s:'pl'},{n:'Radis',t:'L',s:'pl'},{n:'Fenouil',t:'L',s:'pl'},{n:'Salades',t:'L',s:'pl'},{n:'Pommes',t:'F',s:'pl'}],
  // Mai
  [{n:'Fraises',t:'F',s:'pl'},{n:'Asperges',t:'L',s:'pl'},{n:'Concombres',t:'L',s:'pl'},{n:'Courgettes',t:'L',s:'pl'},{n:'Épinards',t:'L',s:'pl'},{n:'Radis',t:'L',s:'fi'}],
  // Juin
  [{n:'Cerises',t:'F',s:'pl'},{n:'Fraises',t:'F',s:'pl'},{n:'Abricots',t:'F',s:'pl'},{n:'Tomates',t:'L',s:'pl'},{n:'Haricots verts',t:'L',s:'pl'},{n:'Courgettes',t:'L',s:'pl'}],
  // Juillet
  [{n:'Tomates',t:'L',s:'pl'},{n:'Pêches',t:'F',s:'pl'},{n:'Melons',t:'F',s:'pl'},{n:'Prunes',t:'F',s:'pl'},{n:'Pastèque',t:'F',s:'pl'},{n:'Abricots',t:'F',s:'pl'}],
  // Août
  [{n:'Melons',t:'F',s:'pl'},{n:'Pêches',t:'F',s:'pl'},{n:'Figues',t:'F',s:'pl'},{n:'Prunes',t:'F',s:'pl'},{n:'Pastèque',t:'F',s:'pl'},{n:'Poivrons',t:'L',s:'pl'}],
  // Septembre
  [{n:'Raisins',t:'F',s:'pl'},{n:'Poires',t:'F',s:'pl'},{n:'Prunes',t:'F',s:'fi'},{n:'Champignons',t:'L',s:'pl'},{n:'Poivrons',t:'L',s:'fi'},{n:'Courges',t:'L',s:'fi'}],
  // Octobre
  [{n:'Pommes',t:'F',s:'pl'},{n:'Poires',t:'F',s:'pl'},{n:'Raisins',t:'F',s:'fi'},{n:'Potirons',t:'L',s:'pl'},{n:'Champignons',t:'L',s:'pl'},{n:'Châtaignes',t:'F',s:'pl'}],
  // Novembre
  [{n:'Clémentines',t:'F',s:'pl'},{n:'Poireaux',t:'L',s:'pl'},{n:'Carottes',t:'L',s:'pl'},{n:'Choux',t:'L',s:'pl'},{n:'Poires',t:'F',s:'pl'},{n:'Kiwis',t:'F',s:'pl'}],
  // Décembre
  [{n:'Clémentines',t:'F',s:'pl'},{n:'Oranges',t:'F',s:'pl'},{n:'Endives',t:'L',s:'pl'},{n:'Poireaux',t:'L',s:'pl'},{n:'Choux',t:'L',s:'pl'},{n:'Kiwis',t:'F',s:'pl'}],
];

document.getElementById('saisonMois').textContent = MOIS[m] + ' ' + annee;

const grid = document.getElementById('saisonGrid');
const delays = ['','d1','d2','d3','d4','d5'];
SAISON[m].forEach((p, i) => {
  const isFruit = p.t === 'F';
  const typeClass = isFruit ? 'fruit' : 'legume';
  const typeLabel = isFruit ? 'Fruit' : 'Légume';
  const badgeClass = p.s === 'pl' ? 'sbl' : 'sbf';
  const badgeText = p.s === 'pl' ? 'Pleine saison' : 'Début saison';
  grid.innerHTML += `<div class="sc2 rv ${delays[i]} ${typeClass}">
    <div class="snn">${p.n}</div>
    <div class="sty">${typeLabel}</div>
    <span class="${badgeClass}">${badgeText}</span>
  </div>`;
});
})();
</script>
